@import '~antd/dist/antd.css';

.page {
  display: flex;
  width: 100vw;
  height: calc(100vh - 50px);
  background: red;
  .tool {
    flex-shrink: 0;
    width: 350px;
    background-color: #f8f8f8;
    border-right: 1px solid #d9d9d9;
    overflow-y: auto;
    .title {
      color: #0d1a26;
      font-weight: 600;
      font-size: 12x;
      padding: 10px 10px;
      margin-top: 0.08rem;
      border-bottom: 1px solid #ddd;
      text-align: left;
    }
    .title:first-child {
      border-top: none;
    }
    .button {
      padding: 10px 0;
      text-align: left;
      a {
        display: inline-block;
        color: #333;
        line-height: 1;
        width: 40px;
        height: 40px;
        text-align: center;
        text-decoration: none !important;
        .iconfont {
          font-size: 20px !important;
        }
      }
    }
  }
  .full {
    flex: 1;
    width: initial;
    position: relative;
    overflow: auto;
    background: #fff;
  }
  .props {
    flex-shrink: 0;
    width: 250px;
    padding: 0.1rem 0;
    background-color: #f8f8f8;
    border-left: 1px solid #d9d9d9;
    overflow-y: auto;
    position: relative;
    .item {
      height: calc((100vh - 48px) / 2);
      overflow-y: auto;
      .title {
        color: #0d1a26;
        font-weight: 600;
        font-size: 12x;
        padding: 10px 10px;
        margin-top: 0.08rem;
        border-bottom: 1px solid #ddd;
        text-align: left;
      }
    }
  }
}